/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5e6cc;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
}

  /* Header Styles */
header {
    background-color: #8cc63e;
    padding: 20px;
}

header h1 {
    color: #fff;
    margin: 0;
}

  /* Navigation Styles */
nav {
    background-color: #5C4033;
    padding: 10px;
}

nav a:hover {
    color: #9fe444; /* Change to the desired color when hovered */
    transition: color 0.3s ease; /* Optional: add a smooth transition effect */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}
/* logout button style */
.logout-button {
    background-color: #a9ba9d; /* Set your default background color */
    transition: background-color 0.3s ease; /* Transition effect */
}

/* Change color on hover */
.logout-button:hover {
    background-color: #f5e6cc; /* Change to the desired color when hovered */
}
  /* Main Content Styles */
main {
    padding: 20px;
}

main h2 {
    color: #8cc63e;
}

  /* Footer Styles */
footer {
    background-color: #5C4033;
    padding: 4px;
    color: #fff;
    text-align: center;
}

  /* Farm-Themed Images */
.farm-img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
    border: 5px solid #8cc63e;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin: 8px;
}

.main-farm-photo {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 300px;
    border: 5px solid #000; 
    border-radius: 25px;
    padding: 0px; 
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 200px;
}

ul {
    list-style: none;
    text-align:left;
}

.lesson-description {
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

/* Add this styling for lesson sections */
.beginner-lessons,
.intermediate-lessons,
.advanced-lessons {
    font-family:sans-serif;
    display: inline-block;
    padding: 10px;
    border: 4px solid black;
    border-radius: 25px;
    margin: 5px;
    text-align: center;
    background-color: #a9ba9d;
}

/* Keep the existing styling for the "lessons" class if needed elsewhere */
.lessons {
    display: inline-block;
    padding: 10px;
    border: 4px solid black;
    border-radius: 25px;
    margin: 5px;
    text-align: center;
    background-color: #a9ba9d;
}

.main-photos {
    display: flex;
    margin: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-barn-photo {
    top: 5rem;
    left: 2rem;
    transform: rotate(-10deg);
}

.main-indoor-ring-photo {
    transform: rotate(10deg);
}