    <!-- loginSignupPage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="loginSignupStyle.css">
    <!-- ... Head content and links ... -->
    <title>Login/Signup</title>
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="homePage.html">Home</a>
        <a href="lessonPage.html">Lessons</a>
        <a class="login-button" href="loginSignupPage.html">SignUp/Login</a>
        <div id="welcome-message"></div>
    </div>
    <h1>Login</h1>
    <!-- Login Form -->
    <div id="login-signup-form">
        <form id="login-form" action="/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>
    <h1>Signup</h1>
    <div id="login-signup-form">
        <form id="signup-form" method="POST" action="/signup">
            <input type="text" name="username" placeholder="Create Username">
            <input type="password" name="password" placeholder="Create Password">
            <hr>
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <br>
            <input type="email" name="email" placeholder="Email">
            <br>
            <input type="text" name="homeAddress" placeholder="Home Address">
            <input type="text" name="cityTown" placeholder="City/Town">
            <br>
            <input type="text" name="state" placeholder="State">
            <input type="text" name="zipCode" placeholder="Zip Code">
            <br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
<script src="app.js"></script>
</body>
<footer>
</footer>
</html>