<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginSignupStyle.css') }}">
    <title>User Account</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('lesson_page') }}">Lessons</a></li>
        {% if user_authenticated %}
            <li><a href="{{ url_for('user_account_page') }}">User Account</a></li>
        {% endif %}
        <li><a href="{{ url_for('login_signup_page') }}">Login/Signup</a></li>
    </ul>
</nav>

    <!-- User Account Details -->
    <div id="account-details">
        <h1>User Account Details</h1>
        {% if user_authenticated %}
        <label for="username">Username:</label>
        <p id="username"></p>
        <label for="email">Email:</label>
        <p id="email"></p>
        <label for="firstName">First Name:</label>
        <p id="firstName"></p>
        <label for="lastName">Last Name:</label>
        <p id="lastName"></p>
        <label for="homeAddress">Home Address:</label>
        <p id="homeAddress"></p>
        <label for="cityTown">City/Town:</label>
        <p id="cityTown"></p>
        <label for="state">State:</label>
        <p id="state"></p>
        <label for="zipCode">Zip Code:</label>
        <p id="zipCode"></p>
        {% else %}
        <p>User not authenticated.</p>
    {% endif %}
    </div>

    <button id="view-cart">View Cart</button>

    <!-- Transaction History -->
    <div id="transaction-history">
        <h1>Transaction History</h1>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
<footer>
</footer>
</html>